<!-- <table>
  <thead>
    <th>UserName</th>
    <th>Password</th>
  </thead>
  <tbody *ngFor="let user of users">
    <tr>{{user.mail}}</tr>
    <tr>{{user.pass}}</tr>
  </tbody>
</table> -->


<table class="table">
  <thead class="table-dark">
    <th>UserName</th>
    <th>Password</th>
    <th>Edit</th>

  </thead>
  <tbody>
    <tr *ngFor='let ip of users'>
      <td>{{ip.mail}}</td>
      <td>{{ip.pass}}</td>
      <td><a [routerLink]="['/edit', ip._id]" class="btn btn-primary">Edit</a></td>

    </tr>
  </tbody>
</table>