<table class="table">
  <thead class="table-dark">
      <th *ngIf="admin">User Name</th>
    <th>Book Id</th>
    <th>Book Name</th>
    <th>Category</th>
    <th *ngIf="admin">Action</th>
    <th *ngIf="!admin" >Status</th>
    
  

  </thead>
  <tbody>
    <!-- <tr *ngFor='let ip of Request'> -->
      <tr *ngFor='let ip of message'>
        <td *ngIf="admin">{{ip.user}}</td>
      <td>{{ip.bookId}}</td>
      <td>{{ip.bookName}}</td>
      <td>{{ip.category}}</td>
      <td *ngIf="admin"><a class="btn btn-secondary" (click)="approve()" >Approve</a></td>
      <td *ngIf="!admin && approv==false">Not Approved</td>
      <td *ngIf="!admin && approv==true">Approved</td>

      
      
      

      <!-- <td *ngIf="!admin"><a class="btn btn-secondary">Request</a></td> -->
      


    </tr>
  </tbody>
</table>