<div class="form-group">
  <label class="col-md-4"><h3>Category</h3></label>
  <select class="form-control col-md-2" (change)="filterForeCasts($event.target.value)">
    <option value="All">All</option>
    <option *ngFor="let ip of cates" [value]="ip.cat">{{ip.cat}}</option>
  </select>
</div>
<table class="table">
  <thead class="thead-dark">
    <th>Book Id</th>
    <th>Book Name</th>
    <th>Category</th>
    <th>Author</th>
    <th>Publication</th>
  </thead>
  <tbody>
    <tr *ngFor='let ip of book|paginate: { itemsPerPage: 2, currentPage: q}'>
      <td>{{ip.bookId}}</td>
      <td>{{ip.bookName}}</td>
      <td>{{ip.categoryName}}</td>
      <td>{{ip.author}}</td>
      <td>{{ip.publ}}</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td> <pagination-controls (pageChange)="q = $event"></pagination-controls></td></tr>
      
    
  </tbody>
  
</table>
<div  *ngIf="book === null" >
  <p >No books found</p>
</div>

