<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="text-center">{{ title }}</h1>
  </div>
  <div class="panel-body">
    <form [formGroup]="catForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Category</label>
        <input type="text" class="form-control" formControlName="cat" #cat />
      </div>
      <div *ngIf="catForm.controls['cat'].invalid && (catForm.controls['cat'].dirty || catForm.controls['cat'].touched)" class="alert alert-danger">
        <div *ngIf="catForm.controls['cat'].errors.required">
          Category is required.
        </div>
      </div>     
        <div class="form-group">
          <button (click)="addCat(cat.value)" [disabled]="catForm.pristine || catForm.invalid" class="btn btn-primary">Add Category</button>
        </div>
    </form>
  </div>
</div>
